.main {
  padding: 6rem;
  min-height: 100vh;
  min-width: 100vw;
}

.frame {
  /*Glass BG*/
  background: rgba(255, 255, 255, 0.2);
  border-radius: 11px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /*BG fim*/
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  overflow: hidden;
  color: #37BE77;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.hidden{
  display: none;
}

.btn {
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 260px;
  height: 60px;
  top: 170px;
  left: 70px;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 3.6rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all .3s ease-in-out;
  cursor: pointer;

  &:hover{
    background: #37BE77;
    color: #fff;
  }

  .img {
    position: absolute;
    z-index: 2;
    top: 16px;
    left: 15px;
    opacity: 0;
  }
}

.circle {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 2;
  top: 170px;
  left: 170px;

  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap:round;
  stroke-dashoffset: 183 183;
  stroke-dashoffset: 183;
  pointer-events: none;
  transform: rotate(-90deg);
  opacity: 0;
  
}
.input:checked{
  & ~ .btn{
    animation: button .5s ease both, fill .5s ease-out 1.5s forwards;

    .img{
      animation: check .5s ease-out 1.5s both;
    }
  }
  & ~ .circle{
    animation: circle 2s ease-out .5s both;
  }
}

@keyframes button{
  0% {
    width: 260px;
    left: 70px;
    border-color: #fff;
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    width: 60px;
    left: 170px;
    border-color: #45B078;
    background: transparent;
    color: transparent;
  }
}

@keyframes circle {
  0% {
    stroke-dashoffset: 183;
  }

  50% {
    stroke-dashoffset: 0;
    stroke-dasharray: 183;
    transform: rotate(-90deg) scale(1);
    opacity: 1;
  }
  90%, 100% {
    stroke-dashoffset: 500 500;
    transform: rotate(-90deg) scale(2);
    opacity: 0;
  }
}

@keyframes fill {
  0% {
    background: transparent;
    border-color: #fff;
  }
  100% {
    background: #fff;
  }
}

@keyframes check {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}